header {
    background-image: url('../images/justin-leibow-615.jpg');
}

.contactsrow {
    margin-bottom: 10%;
}

.nametitle {
    margin-top: 20px;
}

.rideoteam {
  margin-bottom: 20px;
}

.rideodescription {
  font-weight: 300;
  margin-bottom: 5%;
}

.aboutcontent {
    background-color: white;
    color: black;
}

.description {
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    color: grey;
    font-weight: 300;
}

#abouttitle {
    margin-top: 15%;
    margin-bottom: 2%;
}
