#advertisertitle {
    font-size: 500%;
    margin-top: 15%;
    margin-bottom: 2%;
}

header {
    background-image: url('../images/cedric-dhaenens-178258.jpg');
}

#navcontainer {
    padding-right: 0;
}

#driverboxrow {
    margin-top: .7%;
    margin-bottom: 5%;
}

#pricingheader {
    color: #ffffff;
    margin-bottom: 2%;
}

.drivercontainer {
    height: 80%;
}

#driverbox1 {
    margin-left: 7%;
}

#driverbox2 {
    margin-left: 7%;
}

#box1p {
    height: 10px;
}
#box2p {
    height: 30px;
}
#box4p {
    height: 50px;
}

#driverbox3 {
    margin-left: 7%;
}

#driverbox4 {
    margin-left: 7%;
}

#advertiserformheader {
    margin-top: 5%;
    margin-bottom: 2.5%;
    color: #ffffff;
}

@media(max-width:991px) {
    .drivercontainer {
        width: 50%;
        padding-top: 25px;
    }
    #driverbox1 {
        margin-left: 0;
    }
    #driverbox3 {
        margin-left: 0;
    }
    #box2p {
        height: 12px;
    }
    #box3p {
        height: 0px;
    }
    #box4p {
        height: 30px;
    }
}

@media(max-width:768px) {
    .drivercontainer {
        width: 85%;
        padding-top: 25px;
    }
    #driverbox1 {
        margin-left: 7%;
    }
    #driverbox2 {
        margin-left: 7%;
    }
    #driverbox3 {
        margin-left: 7%;
    }
    #driverbox4 {
        margin-left: 7%;
    }
    #navcontainer {
        padding-right: 15px;
    }
    #box2p {
        height: 0px;
    }
    #box3p {
        height: 0px;
    }
    #box4p {
        height: 0px;
    }
}

@media(min-width:768px) {
    .container {
        padding-right: 3%;
        padding-left: 0;
    }
    #formbackground {
        background-color: rgba(255, 255, 255, 0.9);
        margin-right: 100px;
        margin-left: 100px;
        margin-bottom: 8%;
    }
}

@media(min-width:991px) {
    #pricecontainer {
        width: 95%;
    }
    /*    #box2p {
        height: 43px;
    }
    #box3p {
        height: 3px;
    }
    #box4p {
        height: 30px;
    }*/
}

@media(min-width:1200px) {
    #box1p {
        height: 10px;
    }
    #box2p {
        height: 30px;
    }
    #box4p {
        height: 50px;
    }
}

.driverboxes {
    background-color: white;
    width: 100%;
    padding: 10px;
}

.driveicons {
    font-family: pierSans;
    font-size: 200%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

#driverstitle {
    padding-top: 15%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.content-drive {
    background-color: #4f4e4e;
    padding: 20px 0 40px;
    color: #221e1f;
}

.content-drive .glyphicon,
.page-footer .contact .glyphicon {
    font-size: 32px;
    font-weight: 700;
}

#postalcodeform {
    padding-left: 4px;
}

#agreementbutton {
    margin-bottom: 2%;
}

.signupbutton {
    background-color: #f2d585 !important;
}

.signupbutton:hover {
    color: black !important;
    background-color: #ffcd42 !important;
    text-decoration: none;
}

.adinputcorrect {
    font-size: 150% !important;
    width: 100%;
}

.adjoinformlabel {
    color: #221e1f !important;
    height: 30%;
    font-size: 120%;
}

.adformtext {
    width: 100%;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 2px !important;
    padding-top: 0 !important;
}

#signbuttondiv {
    margin-top: 2%;
    margin-bottom: 2%;
}

.pricinglist {
    padding-left: 20px;
    padding-right: 10px;
}

#joinform {
    background-image: url('../images/joshua-newton-13935.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
}

.formselectors {
  padding-top: 12px;
  font-size: 75% !important;
}


