@font-face {
    font-family: pierSans;
    src: url(../fonts/Pier/pier-regular.otf);
}

@font-face {
    font-family: eskell;
    src: url(../fonts/eksell/EksellDisplay-Small.otf);
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: eskell;
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
footer {
    font-family: pierSans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

a {
    color: #7CA689;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover {
    color: #7CA689;
}

p {
    font-size: 16px;
    line-height: 1.5;
}


/*changing material components color scheme*/

:root {
    --mdc-theme-primary: #7CA689 !important;
}

.mdc-button {
    font-family: pierSans !important;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url('../images/cedric-dhaenens-178258.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 200;
}

@media(min-width:768px) {
    header {
        min-height: 110%;
    }
    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        bottom: -170px;
    }
    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }
    header .header-content .header-content-inner h1 {
        font-size: 60px;
        margin-top: 10px;
        padding-bottom: 0px;
        margin-bottom: -10px;
    }
}

.content {
    padding: 40px 0;
    background-color: #4f4e4e;
}

.content-2 {
    color: #fff;
    background-color: #221e1f;
}

.page-footer .small-print {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 300;
}

.navbar-default {
    border-color: transparent;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    color: #7CA689;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
    outline: none;
}

@media(min-width:768px) {
    .navbar-default {
        /*border-color: rgba(255, 255, 255, .3);*/
        background-color: transparent;
    }
    .navbar-default .navbar-header .navbar-brand {
        color: white;
        letter-spacing: 0.5em;
    }
    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #7CA689;
    }
    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: white;
        font-size: 120%;
    }
    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #7CA689;
    }
    .navbar-default.affix {
        border-color: #7CA689;
        background-color: #7CA689;
        box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1);
    }
    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #221E1F;
    }
}

@media(max-width:768px) {
    .navbar-header {
        background-color: #7CA689;
    }
    .navbar-default,
    .navbar-collapse,
    .navbar-default,
    .navbar-form {
        border-color: #7CA689;
    }
}

.contactform {
    display: block !important;
    width: 100%;
    font-size: 200%;
    padding-top: 0px
}

.btn-green {
    background-color: #7CA689 !important;
    padding-top: 2px !important;
}

.btn-green:hover {
    text-decoration: none;
    opacity: 0.7;
}

.btn-yellow {
    background-color: #f2d585 !important;
    color: #221e1f !important;
    padding-top: 2px !important;
}

.btn-yellow:hover {
    text-decoration: none;
    opacity: 0.7;
}

.collapse {
    color: #221e1f;
}

.mainforminput {
    color: white !important;
    width: 100%;
    text-shadow: 0px 7px 20px rgba(0, 0, 0, 0.9);
}

.drivercontainer {
    height: 80%;
}

.driverboxes {
    background-color: white;
    /*background-color: rgba(255,255,255, 0.9);*/
    width: 100%;
    padding: 10px;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1);
    /*border: 2px solid rgba(255,255,255, 0.9);*/
    border: 2px solid white;
}

.driverboxes:hover {
    border: 2px solid #7CA689;
}

.driverboxes:hover>h3 {
    font-weight: 600;
}

.drivetitle {
}

.driveicons {
    font-family: pierSans;
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 0;
    color: #7CA689;
}

.drivesubtitle {
    font-family: pierSans;
    font-size: 120%;
    color: #7CA689;
}

.drivesubheader {
    font-family: pierSans;
    font-weight: bold;
    color: #7CA689;
    margin-top: 12px;
    margin-bottom: 0;
}

.pricinglist {
    padding-left: 20px;
    padding-right: 10px;
}

.content-drive {
    background-color: #DADADA;
    padding: 20px 0 40px;
    color: #221e1f;
}

.adinputcorrect {
    font-size: 150% !important;
    width: 100%;
}

.adjoinformlabel {
    color: white !important;
    height: 30%;
    font-size: 100%;
    margin-left: 10px;
}

.adformtext {
    width: 100%;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 2px !important;
    padding-top: 0 !important;
}

.submitindexform {
    font-size: 130% !important;
    font-weight: 100;
    padding-top: 0px !important;
    margin-top: 2% !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
}
.submitindexform:hover {
    border: 1px solid white;
}

.formselectors {
    margin-left: 15px;
    margin-right: 15px;
}

#signbuttondiv {
    margin-top: 2%;
}

#joinform {
    background-image: url('../images/joshua-newton-13935.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
}

#advertisertitle {
    font-size: 500%;
    margin-top: 15%;
    margin-bottom: 2%;
    font-weight: bold;
}

#navcontainer {
    padding-right: 0;
}

#driverboxrow {
    margin-top: .7%;
    margin-bottom: 5%;
}

#pricingheader {
    color: #ffffff;
    margin-top: 4%;
    margin-bottom: 5%;
}

#driverbox1 {
    margin-left: 7%;
}

#driverbox2 {
    margin-left: 7%;
}

#driverbox3 {
    margin-left: 7%;
}

#driverbox4 {
    margin-left: 7%;
}

#postalcodeform {
    padding-left: 4px;
}

/*#agreementbutton {
    margin-bottom: 2%;
}*/

#advertiserformheader {
    margin-top: 5.5%;
    margin-bottom: 5.5%;
    color: #ffffff;
}

#formbackground {
    /*background-color: rgba(255, 255, 255, 0.9);*/
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 3%;
}

@media(max-width:991px) {
    .drivercontainer {
        width: 50%;
        padding-top: 25px;
    }
    #driverbox1 {
        margin-left: 0;
    }
    #driverbox3 {
        margin-left: 0;
    }
}

@media(max-width:768px) {
    .drivercontainer {
        width: 85%;
        padding-top: 25px;
    }
    #driverbox1 {
        margin-left: 7%;
    }
    #driverbox2 {
        margin-left: 7%;
    }
    #driverbox3 {
        margin-left: 7%;
    }
    #driverbox4 {
        margin-left: 7%;
    }
    #navcontainer {
        padding-right: 15px;
    }
    #formbackground {
        margin-right: 0;
        margin-left: 0;
    }
    .adjoinformlabel {
        padding-left: 10px;
    }
    .adinputcorrect {
        padding-left: 10px;
    }
    .formselectors {
        width: 92%;
    }
}

@media(min-width:768px) {
    .container {
        padding-right: 3%;
        padding-left: 0;
    }
}

@media(min-width:991px) {
    #pricecontainer {
        width: 95%;
    }
}

#jointodayselector {
    font-size: 85% !important;
    width: 100% !important;
    max-width: 100% !important;
}

#navlogo {
    padding-top: 8px;
}

@media(min-width:768px) {
    #pricingheader {
        padding-left: 40px;
    }
}

#price {
    background-color: #221e1f;
}

#signupbutton {
    color: #FFFFFF !important;
}

#footertext {
    padding-top: 2px;
    margin: 0;
}

.paddingcorrect {
    padding-top: 7px;
}
