header {
    background-image: url('../images/fidibackground.jpg');
}

#advertisertitle {
  font-size: 500%;
  margin-top: 15%;
  margin-bottom: 2%;
}

header {
    background-image: url('../images/bridgebackground.jpg');
}

#navcontainer {
  padding-right: 0;
}

#driverboxrow {
    margin-top: .7%;
    margin-bottom: 5%;
}

#pricingheader {
  color: #ffffff;
  margin-bottom: 2%;
}

.drivercontainer {
    height: 80%;
}

#driverbox1 {
    margin-left: 7%;
}

#driverbox2 {
    margin-left: 7%;
}

#driverbox3 {
    margin-left: 7%;
}

#driverbox4 {
    margin-left: 7%;
}

#advertiserformheader {
  margin-top: 8%;
  margin-bottom: 4%;
  color: #221E1F;
}

@media(max-width:991px) {
    .drivercontainer {
        width: 50%;
        padding-top: 25px;
    }

    #driverbox1 {
        margin-left: 0;
    }

    #driverbox3 {
        margin-left: 0;
    }
}

@media(max-width:768px) {
    .drivercontainer {
        width: 85%;
        padding-top: 25px;
    }
    #driverbox1 {
        margin-left: 7%;
    }

    #driverbox2 {
        margin-left: 7%;
    }

    #driverbox3 {
        margin-left: 7%;
    }

    #driverbox4 {
        margin-left: 7%;
    }
}

@media(min-width:768px) {
  .container {
    padding-right: 3%;
    padding-left: 0;
  }
}

.driverboxes {
    background-color: white;
    width: 100%;
    padding: 10px;
}

.driveicons {
  font-size: 60px;
  margin-top: 20%;
  margin-bottom: 20%;
  display: block;
}


#driverstitle {
    padding-top: 15%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.content-drive {
    background-color: #4f4e4e;
    padding: 20px 0 40px;
    color: #221e1f;
}

.content-drive .glyphicon,
.page-footer .contact .glyphicon {
    font-size: 32px;
    font-weight: 700;
}

#postalcodeform {
  padding-left: 4px;
}

#agreementbutton {
  margin-top: 2%;
  margin-bottom: 2%;
}

