@media (max-width: 460){

}

@media (min-width: 461px) and (max-width: 599px) {
                    
}

@media (min-width: 600px) and (max-width: 767px) {
                    
}
  


@media (min-width: 768px) and (max-width: 991px) {
}
  

@media (min-width: 992px) and (max-width: 1199px) {

}
/*100% zoom*/
@media (min-width: 992px) and (max-width: 1283){
	.intro-section {
	    height: 532px;
	}

	.about-section {
		height: 1000px;
	}

	.services-section {
		height: 753px;
	}



	}
	#textbox3, #textbox{

		margin-top:17%;
		
	/*  border: 2px solid rgba(255,255,255,1);*/
	}
	#p3, #p1 {

	  margin-top:20%;
	  

	}  
	#myCarousel {
		margin-top:1.25vw;

	}

		#myCarousel {


	  margin-top:0;
	  height: 350px;
	  
}


	.btn {

		width: 15%;
		margin-top: 50%;
		font-size: 2vw;


/*  src: url('Raleway-ExtraBold.ttf') format("truetype");*/
	}

	.menuarrow {
	
		width: 15%;
		margin-top: 3%;
		font-size: 2vw;
		padding-top: 2%;

	}



