

@media (max-width: 460){

}

@media (min-width: 461px) and (max-width: 599px) {
                    
}

@media (min-width: 600px) and (max-width: 767px) {
                    
}
  


@media (min-width: 768px) and (max-width: 991px) {
}
  

@media (min-width: 992px) and (max-width: 1199px) {

}
/*for 90%+ zoom*/
@media (min-width: 999px) (max-width: 5228px){



	.intro-section {
	    width: 100%;
	    height: 752px;

	}

	#img {
		width: 100%;
		left: .2%;
		left: -.01%;
	}

	.container {
		width: 100%;

	}

	.about-section {
		width: 100%;
		height: 1000px;
		margin-top: 3.4%;

	}

	#img2 {
		width: 150%;
		left: 0%;
/*		overflow: hidden;*/
    	opacity: .9;

	}

	.services-section {
		width: 100%; 
		height: 753px;
	}

	#img3 {
		width: 100%;
		left:0%;
	}


	.navbar {
	    border: none;
	    background-color: rgba(0,0,0,.6);
	    font-family: "Raleway";
	    z-index: 25;
	    margin-left: 0%;
	    width: 100%;
	    padding-bottom: 6.2%;


	}
	#navletter1 {
		color: blue;
/*		color: rgb(224, 27,132);*/
		background-color: transparent;
		font-size: 1.75vw;
		position: fixed;
		left: 1.7%;
		top: .3%;
		padding-top: 1%;
/*		padding-left: 20%;*/

/*		background-color: red;*/
	}

	#navletter2 {
		color: rgb(224, 27,132);
		background-color: transparent;
		font-size: 1.75vw;
		position: fixed;
		left:4.85%;
		top: .8vmin;
		padding-top: 1.25%;

	}
	#navletter3 {
		color: rgb(224, 27,132);
		background-color: transparent;
		font-size: 1.75vw;
		position: fixed;
		left:18.5%;
		top:.8vmin;
		padding-top: 1.25%;


/*		right: -1%;*/
/*		padding-left: 20%;*/

/*		background-color: red;*/
	}



	#navletter1:hover, #navletter2:hover, #navletter3:hover {
		transition: .5s;
		color: rgb(109, 100,232);
		font-size: 1.9vw;

	}

	#navletter1:a, #navletter2:a, #navletter3:a{
		color: rgb(109, 100,232);
		font-size: 1.9vw;
	}

	#navletter1:focus, #navletter2:focus, #navletter3:focus{
		color: rgb(109, 100,232);
		font-size: 1.9vw;
	}

	#navletters:active{
		color: rgb(109, 100,232);
		font-size: 1.9vw;
	}
	
	#title {
		color: white;
		letter-spacing: .5vw;
		font-weight: 900;
		font-family: "Raleway";
		text-shadow: .1vw .1vw .1vw rgb(0, 0,0,.8);
		font-size: 3.6vw;
		right:-6vw;
		padding-right: 10.2vw;
		margin-top: 0%;
		position:fixed;
		z-index: 30;

	}

	#subtitle {
		margin-bottom: 5%;
		color: white;
		letter-spacing: .085vw;
		font-family: "Raleway";
		font-weight: 600;
		text-shadow: .1vw .1vw .1vw rgba(0, 0, 0, .8);
		right:-7.3vw;

		font-size: 1.95vw;
		padding-bottom: 3%;
		padding-right: 12vw;
		margin-top: -1%;
		top:4.7vw;
		position: fixed;
		z-index: 30;

	}

	.carousel-control .glyphicon-chevron-left,
	.carousel-control .icon-prev {
	    font-size: 2.3vw;
	    height: 28vw;
	    margin-left: -1vw;

	}
  	.carousel-control .glyphicon-chevron-right,
  	.carousel-control .icon-next {
	    font-size: 2.3vw;
	    height: 20vw;
	    margin-left: 10vmax;


  	}

	 .carousel-indicators {
	  position: absolute;
	  bottom: 1.7vw;
	  left: 50%;
	  z-index: 15;
	  width: 60%;
	  padding-left: 0;
	  margin-left: -30%;
	  text-align: center;
	  list-style: none;
	}

	.carousel-indicators li {
	  display: inline-block;
	  width: .8vw;
	  height: .8vw;
	  margin: .1vw;
	  text-indent: -90vw;
	  cursor: pointer;
	  background-color: #000 \9;
	  background-color: rgba(0, 0, 0, 0);
	  border: .1vw solid #fff;
	  border-radius: 1vw;
	}

	.carousel-indicators .active {
	  width: .8vw;
	  height: .8vw;
	  margin: .1vw;
	  background-color: #fff;
	}


/*	#myCarousel {
		width: 48.4%;
		position:absolute;
		left:24.7%;
		margin-top:1.25vw;
		overflow: hidden;

		z-index: 2;
		top: 20.5vmin;
		padding-bottom: 52.3vmin;

	}*/

	.container-slider {
		padding-right: 0px;
		padding-left: 0px;
		margin-left: 0px;
		margin-right: 0px;
/*		opacity: .4;*/
		overflow: hidden;

	}

	#myCarousel {

	  width: 49.7%;
	  position:relative;
	  left:24%;
	  top: 172px;
	  overflow: hidden;
	  height: 389px;
	  border-radius: .2vw;
	  z-index: 2;
	  overflow: hidden;

	  padding-bottom: 66vmin;
	  padding-bottom: 27.5vmax;


}

.carousel-content {
  position: absolute;
  bottom: 38%;
  left: 27%;
  z-index: 2;
  color: white;
  text-shadow: 0 .1vw .2vw rgba(0,0,0,.6);
  font-size: 2vw;


}


.carousel-inner > .item > img{
/*       width:660px;
       height:360px;*/

     }

	.img{
		width: 101%;
		opacity: .4;

	}

	.img1{
		width: 102.5%;
		opacity: .4;

	}


/*	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {

		width: 100%;
		height: 100%;
		opacity: .4;

	}*/


	#ctext4 {
		width: 90%;
		font-size: 2vw;
		margin-left: -13%;
		color: white;
		font-weight: 100;
		letter-spacing: .085vw;
		text-shadow: .1vw .1vw .1vw rgba(0, 0, 0, .8);
		/*text-shadow: 1px 1px 1px rgba(255, 255, 255, .8);*/
		/*font-style: "Raleway-Thin";*/
		opacity:.9;
		/*bottom: 100px;*/
		margin-bottom: -6%;
	}

	#highlight5 {
		/*  color: rgb(109, 100,232);*/
		font-style: italic;
		font-weight: 200;
		text-shadow: .1vw .1vw .1vw rgba(224, 27, 132, 1);

}
	
	#ctext1 {
		width: 90%;
		font-size: 2vw;
		margin-left: -13%;
		color: white;
		font-weight: 100;
		letter-spacing: .085vw;
		text-shadow: .1vw .1vw .1vw rgba(0, 0, 0, .8);
		/*text-shadow: 1px 1px 1px rgba(255, 255, 255, .8);*/
		/*font-style: "Raleway-Thin";*/
		opacity:.9;
		/*bottom: 100px;*/
		margin-bottom: 6%;

	}

	#ctext3 {
		width: 90%;
		font-size: 2vw;
		margin-left: -13%;
		color: white;
		font-weight: 100;
		letter-spacing: .085vw;
		text-shadow: .1vw .1vw .1vw rgba(0, 0, 0, .8);
		/*text-shadow: 1px 1px 1px rgba(255, 255, 255, .8);*/
		/*font-style: "Raleway-Thin";*/
		opacity:.9;
		/*bottom: 100px;*/
		margin-bottom: -2%;

	}
		
	#ctext2 {
		width: 65%;
		font-size: 2vw;
		margin-left: -2%;
		color: white;
		font-weight: 100;
		letter-spacing: .085vw;
		text-shadow: .1vw .1vw .1vw rgba(0, 0, 0, .8);
		/*text-shadow: 1px 1px 1px rgba(255, 255, 255, .8);*/
		/*font-style: "Raleway-Thin";*/
		opacity:.9;

		margin-bottom: 0%;
	}

		/*	.carousel-inner > .item1 > img {
				opacity: 0;
			}*/

}

	.btn {

		color: rgb(224, 27,132);
		background-color: transparent;
		border: none;
		width: 15%;
		top: 155%;
		left: 43%; 
		position: absolute;

		z-index: 20;
		font-size: 2vw;
		font-style: "Raleway";
		font-weight: 600;
		letter-spacing: .085vw;
		text-decoration: none;


/*  src: url('Raleway-ExtraBold.ttf') format("truetype");*/
	}

	.menuarrow {
		position: absolute;
		width: 15%;
/*		height: 20%;*/
		background-color: transparent;
		top: 153%;
		left:43%;
		z-index: 1;
		color: rgb(224, 27,132);
		font-size: 2vw;
		padding-top: 2%;

	}
	.active2 {
  		color:rgb(109, 100, 232) !important;
  		background-color: transparent;


	}

	#textbox {


		background-color: black;
		margin-top:14.5%;
		width: 45%;
		height: 620px;
		top:10%;
		left: 3%;
		opacity: .5;

		border-radius: .2vw;
		position: absolute;
		z-index: 2;

	}
	#textbox3 {


		background-color: black;
		margin-top:14.5%;
		width: 45%;
		height: 620px;
		top:10%;
		left: 52%;
		opacity: .5;

		border-radius: .2vw;
		position: absolute;
		z-index: 2;
	/*  border: 2px solid rgba(255,255,255,1);*/
	}
	#p3 {

	  opacity: 1;
	  margin-top:15%;
	  width: 40%;
	  height: 550px;
	  top:40%;
	  left: 54%;
	  position: absolute;
	  z-index: 2;
	  font-size: 1.5vw;
	  font-weight: 100;
	  letter-spacing: .085vw;
	  color: white;
	  text-shadow: .1vw .1vw .1vw rgba(0, 0, 0, .8);
	  overflow: scroll;
	  text-align: left;

	}   

	#textbox2 {


	/*  background-color: #31592a;*/
	  background-color: rgb(109, 100,232);
	  margin-top:15%;
	  width: 45%;
	  height: 350px;
	  top:10%;
	  left: 29%;
	  opacity: .8;
	/*  border: 2px solid rgba(255,255,255,1);*/
	  border-radius: .2vw;
	  position: absolute;
	  z-index: 2;
	}
	#p1 {

	  opacity: 1;
	  margin-top:15%;
	  width: 40%;
	  height: 550px;
	  top:40%;
	  left: 5%;
	  position: absolute;
	  z-index: 2;
	  font-size: 1.5vw;
	  font-weight: 100;
	  letter-spacing: .085vw;
	  color: white;
	  text-shadow: .1vw .1vw .1vw rgba(0, 0, 0, .8);
	  overflow: scroll;
	  text-align: left;
	}

	#heading5 {
	  opacity: 1;

	  width: 50%;

	  left: 0;
	  position: absolute;
	  z-index: 2;
	  font-size: 3.2vw;
	  font-weight: 300;
	  letter-spacing: .085vw;
	  font-family: "Raleway";
	  color: rgb(224,27,132);
	  text-shadow: .1vw .1vw .1vw rgba(0, 0, 0, .8);




	}
	#heading6 {
	  opacity: 1;

	  width: 50%;
	  left: 50%;
	  position: absolute;
	  z-index: 2;
	  font-size: 3.2vw;
	  font-weight: 300;
	  letter-spacing: .05vw;
	  font-family: "Raleway";
	  color: rgb(109,100,232);
	  text-shadow: .1vw .1vw .1vw rgba(0, 0, 0, .8);




	}


	#p2 {

	  opacity: 1;
	  margin-top:18%;
	  width: 60%;
	  height: 530px;
	  top:0%;
	  left: 21%;
	  position: absolute;
	  z-index: 2;
	  font-size: 3vw;
	  font-weight: 200;
	  font-family: "Raleway";
	  color: white;
	  letter-spacing: .085vw;
	  text-shadow: .1vw .1vw .1vw rgba(0, 0, 0, .8);

	}

	#icon {
	  font-size: 2vw;
	  position: absolute;
	  left: .01vw;
	  text-shadow: .1vw .1vw .1vw rgba(224, 27, 132, 1);
}

	#icon2 {
	  font-size: 2vw;
	  position: absolute;
	  left: .01vw;
	  text-shadow: .1vw .1vw .1vw rgba(109, 100, 232, 1);
}

@media(min-width:767px) {
/*    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }*/

    .top-nav-collapse {
        padding: 0;
    }

}