#emailfield {
  width: 100%;
  font-size: 160%;
}

#loginEmail {
  width: 100%;
  font-size: 105%;
}

#passwordfield {
  width: 100%;
  font-size: 160%;
}

#loginPassword {
  width: 100%;
  font-size: 105%;
}
