@font-face {
    font-family: pierSans;
    src: url(../fonts/Pier/pier-regular.otf);
}

@font-face {
    font-family: eskell;
    src: url(../fonts/eksell/EksellDisplay-Small.otf);
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: eskell;
    text-align:justify;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
footer {
    font-family: pierSans;
}

a {
    color: #7CA689;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover {
    color: #7CA689;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url('../images/Rideo_background_2b.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 200;
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }
    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        bottom: -170px;
    }
    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }
    header .header-content .header-content-inner h1 {
        font-size: 60px;
        margin-top: 10px;
        padding-bottom: 0px;
        margin-bottom: -10px;
    }
    header .header-content .header-content-inner h4 {
        margin-top: 0px;
        padding-top: 0px;
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 180%;
    }
}

.content {
    padding: 40px 0;
    background-color: #4f4e4e;
}

.content-2 {
    color: #fff;
    background-color: #221e1f;
}

.content-3 {
    background-color: #DADADA;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px 0 40px;
    color: #221e1f;
}

.page-footer .small-print {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 300;
}


.navbar-default {
    border-color: rgba(34, 34, 34, .05);
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.infographic {
    background-color: #b2b1b1;
    color: #221E1F;
    margin-top: 45px;
    border: 1px solid #b2b1b1;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1);
}

.infoheader {
    font-weight: bold;
}

#tabletimage {
    width: 100%;
    margin-top: 20px;
}

@media(max-width:1200px) {
    .infographic {
        margin-top: 18px;
    }
}

@media(max-width:991px) {
    .infographic {
        margin-top: 8px;
    }

    #tabletimage {
        margin-top: 70px;
    }
}
.navbar-default .navbar-header .navbar-brand {
    color: #7CA689;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
    outline: none;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255, 255, 255, .3);
        background-color: transparent;
    }
    .navbar-default .navbar-header .navbar-brand {
        color: white;
        letter-spacing: 0.5em;
    }
    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #7CA689;
    }
    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: white;
    }
    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #7CA689;
    }
    .navbar-default.affix {
        border-color: #7CA689;
        background-color: #7ca686;
        box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1);
    }
}

@media(max-width:768px) {
    #showdriver {
        margin: 0 auto;
        display: block;
        width: 150px;
    }
    #showadvertiser {
        margin: 0 auto;
        display: block;
        width: 150px;
    }
    .infographic {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }
    #tabletimage {
        width: 66%;
        margin-top: 20px;
    }
    .navbar-header {
        background-color: #7CA689;
    }
    .navbar-default,
    .navbar-collapse,
    .navbar-default,
    .navbar-form {
    border-color: #7CA689;
    }
}

#navlogo {
    padding-top: 8px;
}

#subheader {
    font-family: eskell;
    line-height: 120%;
}

.contactform {
    display: block !important;
    width: 100%;
    font-size: 200%;
    padding-top: 0px
}

.formtext {
    width: 100%;
}

#contactinput {
    font-size: 100%;
    border: 1px solid rgba(255,255,255,0.6);
}
#contactinput:hover {
    border: 1px solid white;
}

.submitindexform {
    font-size: 150% !important;
    padding-top: 0px !important;
    margin-top: 2% !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 3px;
}

.submitindexform:hover {
    border: 1px solid white;
}

.mainformlabel {
    color: white !important;
    padding-left: 20px;
    height:  30%;
}

.joinformlabel {
    height: 30%;
}

.mainforminput {
    color: white !important;
    width: 100%;
}

.textinputmain {
    font-size: 130% !important;
}

.inputcorrect {
    font-size: 130% !important;
    width: 100%;
}

#messagetitle {
    font-family: pierSans;
    display: block;
    font-size: 110%;
    color: white;
    margin: 0 auto;
    padding-top: 2%;
}

.btn-green {
    background-color: #7CA689 !important;
}

.btn-green:hover {
    text-decoration: none;
    opacity: 0.7;
}

.btn-yellow {
    background-color: #f2d585 !important;
}

.btn-yellow:hover {
    text-decoration: none;
    opacity: 0.7;
}

.btn-red {
    background-color: #d98661 !important;
}

.btn-red:hover {
    text-decoration: none;
    opacity: 0.7;
}


#mainheader {
    font-weight: bold;
    margin-top: 20px;
    padding-top: 0;
    padding-bottom: 5px
}

.joinbutton {
    margin-bottom: 17px;
}

#showadvertiser {
    display: block;
    margin: 0 auto;
    width: 80%;
}

#showdriver {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}


.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
    font-family: eskell;
}

.collapse {
    color: #221e1f;
}

#contactrow {
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 5px;
}

#formsection {
    background-image: url('../images/anthony-delanoix-14631.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.contactbutton {
    margin-top: 3.5%;
    margin-bottom: 7%;
}

.activebutton {
    color: #221E1F !important;
    background-color: #E06A33 !important;
}

.infopar {
    font-size: 95%;
}

#infographicrow {
    margin-bottom: 50px;
}

#getstartedheader {
    color: #221e1f;
    margin-top: 6%;
    margin-bottom: 6%;
    font-weight: bold;
}

#getstartedtoggleheader {
    color: #221e1f;
    font-weight: bold;
}

#contactus {
    margin-top: 4%;
    color: #ffffff;
}

#topsubmitform {
    margin-top: 2% !important;
}

#faqtitle {
    margin-top: 2%;
    margin-bottom: 2.5%;
    color: #ffffff;
}

#getstartedrow {
    margin-bottom: 10px;
}

.jointodayform {
    font-size: 150% !important;
    margin-top: 0 !important;
}

#jointodayselector {
    font-size: 120% !important;
    width: 100% !important;
    max-width: 100% !important;
}

#jointoday {
    background-image: url('../images/jon-flobrant-4056.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.jointodaydiv {
    background-color: white;
    border: 1px solid #9e9e9e;
    border-radius: 4px;
    margin: 0.2%;
}

.joinselectordiv {
    margin-bottom: 6px;
    border: 1px solid #9e9e9e;
    border-radius: 4px;
    background-color: white;
    padding: 10px;
}

#getstartedbutton {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 8%;
    display: block;
}

@media(max-width:768px) {
    .jointodaydiv {
        width: 90%;
        margin: 10px;
    }
    .joinselectordiv {
        width: 90%;
        margin: 10px;
    }
}

.faqtitle {
    color: #7ca689;
    margin-bottom: 4%;
}

#faqrow {
    margin-bottom: 7%;
}
