@font-face {
    font-family: pierSans;
    src: url(../fonts/Pier/pier-regular.otf);
}

@font-face {
    font-family: eskell;
    src: url(../fonts/eksell/EksellDisplayWeb-Medium.otf);
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: eskell;
}

a {
    color: #7CA689;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover {
    color: #7CA689;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url('../images/seatbackNEWnormal.png');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 300;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: #7CA689;
}

@media(min-width:768px) {
    header {
        min-height: 80%;
    }
    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        bottom: -170px;
    }
    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }
    header .header-content .header-content-inner h1 {
        font-size: 100px;
        margin-bottom: -10px;
    }
    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
        margin-bottom: 10px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: pierSans;
}

#siteNav {
    font-family: pierSans;
}

.section-heading {
    margin-top: 0;
    margin-bottom: 20px;
}

.intro {
    color: #fff;
    background-color: #7CA689;
    padding: 70px 0;
    text-align: center;
}

.content {
    padding: 40px 0;
    background-color: #4f4e4e;
}

.content-2 {
    color: #fff;
    background-color: #221e1f;
}

.content-3 {
    background-image: url(../images/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px 0 40px;
    color: #221e1f;
}

.content-4 {
    padding: 20px 0 40px;
    background-color: #7CA689;
    color: #221e1f2;
}

.page-footer {
    text-align: center;
    background-color: #221e1f;
    color: white;
}

.page-footer .contact {
    padding: 55px 0;
    background-color: #7CA689;
    color: #fff;
}

.page-footer .contact p {
    font-size: 22px;
    font-weight: 300;
}

.content-3 .glyphicon,
.page-footer .contact .glyphicon {
    font-size: 32px;
    font-weight: 700;
}

.page-footer .small-print {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 300;
}

.text-light {
    color: rgba(255, 255, 255, .7);
}

.navbar-default {
    border-color: rgba(34, 34, 34, .05);
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    color: #7CA689;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
    outline: none;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    color: #221e1f;
    outline: none;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #7CA689;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #7CA689 !important;
    background-color: transparent;
    outline: none;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255, 255, 255, .3);
        background-color: transparent;
    }
    .navbar-default .navbar-header .navbar-brand {
        color: white;
        letter-spacing: 0.5em;
    }
    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #7CA689;
    }
    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        /*color: rgba(255, 255, 255, .7);*/
        color: white;
    }
    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #7CA689;
    }
    .navbar-default.affix {
        border-color: #7CA689;
        background-color: #7ca686;
        box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1);
    }
    .navbar-default.affix .navbar-header .navbar-brand {
        /*letter-spacing: 0;*/
        color: #221e1f;
    }
    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #ffffff;
    }
    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #221e1f;
    }
    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #ffffff;
    }
}

@media(max-width:768px) {
    #showdriver {
        margin: 0 auto;
        display: block;
        width: 150px;
    }
    #showadvertiser {
        margin: 0 auto;
        display: block;
        width: 150px;
    }
    #advertiserinfo {
        width: 90%;
        margin: 0 auto;
    }
    #driverinfo {
        width: 90%;
        margin: 0 auto;
    }
}

.btn-default {
    border-color: #fff;
    color: #221e1f;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    border-color: #eee;
    color: #221e1f;
    background-color: #eee;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-default .badge {
    color: #fff;
    background-color: #221e1f;
}

.btn-primary {
    border-color: #7CA689;
    color: #fff;
    background-color: #7CA689;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: limegreen;
    color: #fff;
    background-color: limegreen;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #7CA689;
    background-color: #7CA689;
}

.btn-primary .badge {
    color: #7CA689;
    background-color: #fff;
}

.btn {
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-lg {
    padding: 15px 30px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #221e1f;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #221e1f;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.text-primary {
    color: #7CA689;
}

.centercontent {
    margin-top: 0;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.contactform {
    display: block !important;
    width: 100%;
    font-size: 200%;
}

.formtext {
    width: 100%;
}

#contactinput {
    margin-top: 20px;
    font-size: 100%;
}

#submitname {
    font-size: 150%;
}

#submitemail {
    font-size: 150%;
}

#submitsubject {
    font-size: 150%;
}

#Name {
    width: 100%;
}

#Email {
    width: 100%;
}

#Subject {
    width: 100%;
}

.centerbutton {
    margin: 0 auto;
}

.bg-primary {
    background-color: #7CA689;
}

.rounded {
    border-radius: 5px;
}

.getstarted {
    padding-top: 50px;
    padding-bottom: 50px;
}

#subheader {
    font-size: 180%;
    margin: 0 auto;
    margin-top: 14px;
}

#advertiserimage {
    margin-top: 18%;
}

#driverimage {
    margin-top: 15%;
}

#driverbutton {
    background-color: #7CA689;
}

.joinbutton {
    margin-bottom: 17px;
}

#driverbutton:hover {
    background-color: #329ed1;
    border-color: #329ed1;
    color: black;
    text-decoration: none;
}

#driverlist {
    padding-bottom: 10px;
}

#advertiserbutton {
    background-color: #7CA689;
}

#advertiserbutton:hover {
    background-color: #329ed1;
    border-color: #329ed1;
    color: black;
    text-decoration: none;
}

#contactheader {
    padding-bottom: 50px;
}

#drivebuttondiv {
    padding-bottom: 10px;
}

#aboutheader {
    padding-bottom: 50px;
}

#aboutrow {
    padding-bottom: 50px;
}

#showadvertiser {
    background-color: #7CA689;
    color: #white;
    display: block;
    margin: 0 auto;
    width: 80%;
}

#showadvertiser:hover {
    background-color: #329ed1;
    border-color: #329ed1;
    color: #221e1f;
    text-decoration: none;
}

#showdriver {
    background-color: #7CA689;
    color: white;
    display: block;
    margin: 0 auto;
    width: 80%;
}

#showdriver:hover {
    background-color: #329ed1;
    border-color: #329ed1;
    color: #221e1f;
    text-decoration: none;
}

#loginbutton {
    background-color: #7CA689;
}

#closebutton {
    background-color: #4f4e4e;
}

.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.carouselimage {
    width: 36.2%;
    height: 271px !important;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 30.5%;
}

#carousel {
    margin-top: -4px;
}

#indicators {
    bottom: 0px;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

.collapse {
    color: #221e1f;
}

#contactrow {
    background-color: white;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 5px;
}

.contactbutton {
    padding-bottom: 15px;
}

#advertiserinfo {
    background-color: #221e1f;
    color: #4f4e4e;
    margin-top: 5px;
    border: 1px solid #221e1f;
    border-radius: 10px;
}

#driverinfo {
    background-color: #221e1f;
    color: #4f4e4e;
    margin-top: 5px;
    border: 1px solid #221e1f;
    border-radius: 10px;
}

#getstartedheader {
    color: white;
}

#getstartedtoggleheader {
    color: #221e1f;
}

#contactus {
    margin-top: 40px;
    margin-bottom: 30px;
}

#emailfield {
    width: 100%;
    font-size: 200%;
}

#passwordfield {
    width: 100%;
    font-size: 200%;
    margin-left: 0;
}

.contactformsizing {
    font-size: 200%;
}

#faqtitle {
    margin-top: -5px;
    padding-bottom: 20px;
}

#signup {
    margin-right: 22%;
}

.modal-header {
    padding: 8px;
}

#callemailinput {
    width: 100%;
    margin-left: 5%;
    font-size: 200%;
}

#ex1-radio2-label {
    font-size: 200%;
    font-weight: 200;
}

#infographic {
    display: block;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
}

#getstartedheader {
    margin-bottom: 40px;
}

#getstartedrow {
    margin-bottom: 10px;
}

.jointodayform {
    font-size: 150% !important;
    margin-top: 0 !important;
}

#jointodayselector {
    font-size: 120% !important;
    width: 100% !important;
    max-width: 100% !important;
}

.jointodaydiv {
    background-color: white;
    border: 1px solid #4f4e4e;
    border-radius: 4px;
    margin: 0.2%;
}

.joinselectordiv {
    margin-bottom: 6px;
    border: 1px solid #4f4e4e;
    border-radius: 4px;
    background-color: white;
    padding: 10px;
}

#getstartedbutton {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #4f4e4e;
    color: #221e1f;
    margin-top: 2%;
}

#getstartedbutton:hover {
    color: white;
    background-color: #221e1f;
}

@media(max-width:768px) {
    .jointodaydiv {
        width: 90%;
        margin: 10px;
    }
    .joinselectordiv {
        width: 90%;
        margin: 10px;
    }
}
