@font-face {
    font-family: pierSans;
    src: url(../fonts/Pier/pier-regular.otf);
}

@font-face {
    font-family: eskell;
    src: url(../fonts/eksell/EksellDisplay-Small.otf);
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: eskell;
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
footer {
    font-family: pierSans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

a {
    color: #7CA689;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover {
    color: #7CA689;
}

p {
    font-size: 16px;
    line-height: 1.5;
}


/*changing material components color scheme*/

:root {
    --mdc-theme-primary: #7CA689 !important;
}

.mdc-button {
    font-family: pierSans !important;
}

header {
    position: relative;
    width: 100%;
    min-height: 100%;
    text-align: center;
    color: #fff;
    background-image: url('../images/Rideo_background_2d.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px 70px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: -10px;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
}

header .header-content .header-content-inner h4 {
        display: none;
}

header .header-content .header-content-inner a {
        margin-top: 25%;
        display: block;
}

@media(max-width: 666px) {
    header .header-content .header-content-inner a {
        margin-top: 10%;
        display: block;
    }
}

@media(max-width: 320px) {
    header .header-content .header-content-inner a {
        margin-top: -9%;
        display: block;
    }
 }

@media(min-width:768px) {
    header {
        min-height: 110%;
    }
    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        bottom: -170px;
    }
    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }
    header .header-content .header-content-inner h1 {
        font-size: 60px;
        margin-top: 10px;
        padding-bottom: 0px;
        margin-bottom: -10px;
        font-weight: bold;
    }
    header .header-content .header-content-inner h4 {
        margin-top: 0px;
        padding-top: 0px;
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 180%;
        line-height: 75%;
        text-shadow: 0px 7px 20px rgba(0, 0, 0, 0.9);
        display: block;
    }
    #jointodaybutton {
        margin-top: -10px;
    }
    header .header-content .header-content-inner a {
        margin-top: 0;
    }
}



.logoimage {
    content: url('../images/RideoLogo.png')
}

@media(max-width:400px) {
    .logoimage {
        content: url('../images/rideo_logo_v4.png')
    }
}

.content {
    padding: 40px 0;
    background-color: #4f4e4e;
}

.content-2 {
    color: #221e1f;
    background-color: #FFFFFF;
}

.content-3 {
    background-image: url('../images/jose-murillo-22951.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0 40px;
    color: #221e1f;
}

.content-4 {
    color: #fff;
    background-color: #221e1f;
}

.content-5 {
    color: #FFFFFF;
    background-image: url('../images/RideoDemographics_V4.png');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}


#demographicstitle {
    margin-bottom: 5%;
    /*margin-top: 4%;*/
}

@media(max-width: 530px) {
    .content-5{
        background-image: url('../images/RideoDemographics_skinny2.png');
        width: 100%;
        height: 68%;
    }
    #demographicstitle {
        margin-bottom: 0;
        margin-top: -2%;
    }
}

@media(max-width: 320px) {
    #demographicstitle {
        margin-top: -6%;
    }
}

.page-footer .small-print {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 300;
}

.navbar-default {
    border-color: transparent;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.infographic {
    background-color: rgba(255,255,255, 0.75);
    color: #221E1F;
    margin-bottom: 20px;
    /*border: 1px solid #b2b1b1;*/
    border-radius: 10px;
    padding: 13px;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1);
}

.infoheader {
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 19px;
}

#tabletimage {
    width: 100%;
}


@media(max-width:1200px) {
    .infographic {
        margin-top: 18px;
    }
}

@media(max-width:991px) {
    .infographic {
        margin-top: 8px;
    }
    #tabletimage {
        /*margin-top: 70px;*/
    }
}

.navbar-default .navbar-header .navbar-brand {
    color: #7CA689;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #eb3812;
    outline: none;
}

@media(min-width:768px) {
    .navbar-default {
        /*border-color: rgba(255, 255, 255, .3);*/
        background-color: transparent;
    }
    .navbar-default .navbar-header .navbar-brand {
        color: white;
        letter-spacing: 0.5em;
    }
    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #7CA689;
    }
    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: white;
        font-size: 120%;
    }
    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #7CA689;
    }
    .navbar-default.affix {
        border-color: #7CA689;
        background-color: #7CA689;
        box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.1);
    }
    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #221E1F;
    }
    .navbar-default.affix > div > div a > img {
        content: url('../images/rideo_logo_v4.png')
    }

}

@media(max-width:768px) {
    #showdriver {
        margin: 0 auto;
        display: block;
        width: 150px;
    }
    #showadvertiser {
        margin: 0 auto;
        display: block;
        width: 150px;
    }
    .infographic {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }
    #tabletimage {
        width: 100%;
        margin-top: 20px;
    }
    .navbar-header {
        background-color: #7CA689;
    }
    .navbar-default,
    .navbar-collapse,
    .navbar-default,
    .navbar-form {
        border-color: #7CA689;
    }
    #jointodaybutton {
        margin-top: 20px;
    }
    .navbar-default.affix > div > div a > img {
        content: url('../images/rideo_logo_v4.png')
    }
}

#logossection {
    margin-bottom: 5%;
}

@media(max-width: 375px) {
    #showadvertiser {
        font-size: 90%;
        padding: 0;
    }
    #showdriver {
        font-size: 90%;
        padding: 0;
    }
    #logossection {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }
}

#navlogo {
    padding-top: 8px;
}

.subheader {
    margin-top: 15px !important;
    font-weight: normal;
    font-family: eskell;
}

#mainbutton {
    margin-top: 7px;
}

.contactform {
    display: block !important;
    width: 100%;
    font-size: 200%;
    padding-top: 0px
}

.formtext {
    width: 100%;
}

#contactinput {
    font-size: 100%;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

#contactinput:hover {
    border: 1px solid white;
}

.submitindexform {
    font-size: 150% !important;
    padding-top: 0px !important;
    margin-top: 2% !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
}

.submitindexform:hover {
    border: 1px solid white;
}

.mainformlabel {
    color: white !important;
    padding-left: 20px;
    height: 30%;
}

.joinformlabel {
    height: 30%;
}

.mainforminput {
    color: white !important;
    width: 100%;
}

.textinputmain {
    font-size: 130% !important;
}

.inputcorrect {
    font-size: 130% !important;
    width: 100%;
}

#messagetitle {
    font-family: pierSans;
    display: block;
    font-size: 110%;
    color: white;
    margin: 0 auto;
    padding-top: 2%;
}

.btn-green {
    background-color: #7CA689 !important;
    padding-top: 2px !important;
}

.btn-green:hover {
    text-decoration: none;
    opacity: 0.7;
}

.btn-yellow {
    background-color: #f2d585 !important;
    color: #FFFFFF !important;
    padding-top: 2px !important;
}

.btn-yellow:hover {
    text-decoration: none;
    opacity: 0.7;
}

.btn-red {
    background-color: #d98661 !important;
    padding-top: 2px !important;
}

.btn-red:hover {
    text-decoration: none;
    opacity: 0.7;
}

#mainheader {
    font-weight: bold;
    padding-top: 0;
    padding-bottom: 5px
}

.joinbutton {
    margin-bottom: 17px;
}

#showadvertiser {
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-right: 10px;
    color: #221e1f;
}

#showdriver {
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-left: 10px;
    color: #221e1f;
}

.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
    font-family: eskell;
}

.collapse {
    color: #221e1f;
}

.infoicons {
    display: block;
    margin: 0 auto;
    width: 30px;
}

#logostitle {
    margin-bottom: 5%;
    margin-top: 4%;
}

.logosdiv {
    padding-left: 20px;
    padding-right: 20px;
}

.logoimages {
    height: 190px;
    float: left;
    margin: 10px;
}

#demographicsimage {
    margin: 0 auto;
    display: block;
    width: 80%;
}

#contactrow {
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 5px;
}

#formsection {
    background-image: url('../images/anthony-delanoix-14631.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.contactbutton {
    margin-top: 3.5%;
    margin-bottom: 7%;
}

.activebutton {
    /*color: black !important;*/
    /*text-decoration: underline !important;*/
}

.inactivebutton {
    text-decoration: none;
    opacity: 0.4;
}

.infopar {
    font-size: 107%;
    margin-bottom: 0;
}

#infographicrow {
    /*margin-bottom: 20px;*/
}

#contactus {
    margin-top: 6%;
    margin-bottom: 4%;
    color: #ffffff;
}

#topsubmitform {
    margin-top: 2% !important;
}

#faqtitle {
    margin-top: 2%;
    margin-bottom: 2.5%;
    color: #ffffff;
}

#getstartedrow {
    margin-bottom: 10px;
}

.jointodayform {
    font-size: 150% !important;
    margin-top: 0 !important;
}

#jointodayselector {
    font-size: 120% !important;
    width: 100% !important;
    max-width: 100% !important;
}

#jointoday {
    /*background-image: url('../images/jon-flobrant-4056.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
    background-color: #221E1F;
}

.jointodaydiv {
    background-color: white;
    border: 1px solid #9e9e9e;
    border-radius: 4px;
    margin: 0.2%;
}

.joinselectordiv {
    margin-bottom: 6px;
    border: 1px solid #9e9e9e;
    border-radius: 4px;
    background-color: white;
    padding: 10px;
}

#getstartedbutton {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 8%;
    display: block;
}

@media(max-width:768px) {
    .jointodaydiv {
        width: 90%;
        margin: 10px;
    }
    .joinselectordiv {
        width: 90%;
        margin: 10px;
    }
}

@media(max-width:525px) {
    .logoimages {
        height: 130px;
    }
}

@media(max-width:320px) {
    .logoimages {
        height: 100px;
    }
}

.faqtitle {
    color: #7ca689;
    margin-bottom: 4%;
}

#faqrow {
    margin-bottom: 7%;
}

.morelink {
    color: #7ca689;
}

.morelink:hover {
    color: #7ca689;
    /*text-decoration: none;*/
}

#faqlink {
    color: #7ca689;
}

#faqlink:hover {
    color: white;
}

#buttonrow {
    margin-top: 6%;
    margin-bottom: 2%;
}

#infoparagraphrow {
    margin-bottom: 0;
}

#footertext {
    padding-top: 2px;
    margin: 0;
}

.descriptionpar {
    /*margin-bottom: -15px;*/
    margin-top: 5%;
    font-size: 150%;
}

.joinlinktext {
    color: #FFFFFF;
}

.joinlinktext:hover {
    color: #FFFFFF;
    text-decoration: none;
}


#jointodaybutton {
    margin-bottom: 3%;
}
